* {
  box-sizing: border-box;
}

body {
font-famil: helvetica, sans-serif;
}

.title {
  margin: 0px auto;
  width: 100%;
  text-alin: center;
  color: white;
  background-color: black;
}

.nav ul {
  list-style: none;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
  width:600px;
  height: 10px;
}

.nav li {
  background-color: grey;
  display: inline-block;
  padding: 5px;
  margin: 1px 0px 1px 0px;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.container h2 {
  background-color: lightblue;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 24px;
}

.container b {
  text-decoration: underline;
  text-decoration-color: gold;
}

.images {
  width: 33.33%;
  margin-bottom: 3px;
  margin-top: 5px;
}

.editimages {
  text-align: center;
  background-color: gold;
  margin: 0px 0px 3px 0px;;
}

.images img {
  width: 100%;
}

.copyright {
  background-color: black;
  margin: 12px 0px 0px 0px;
}

.copyright p {
  text-align: center;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13.5px;
}
