* {
  box-sizing: border-box;
}

.title {

  margin: 0px auto;
  width: 100%;
  text-alin: center;
  color: white;
  background-color: black;
}

.nav ul {
  list-style: none;
  text-align: center;
  margin: 0px auto;
}

.nav li {
  background-color: grey;
  display: inline-block;
  padding: 10px;
  margin: 40x 20px 40px 20px;
  color:white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.container h2 {
  background-color: lightblue;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 24px;
}

.images {
  width: 33.33%;
  margin-bottom: 6px;
  margin-top: 8px;
}

.editimages {
  width: 100%;
}

.images img {
  width: 100%;
}
